values.yaml
.nx/installation
.nx/cache
.nx/workspace-data

dist/
node_modules/
tmp/

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vite.config.*.timestamp*
vitest.config.*.timestamp*