{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "target": "es2022",
    "baseUrl": "./"
  },
  "module": {
    "type": "es6",
    "outFileExtension": "js",
    "resolveFully": true
  },
  "sourceMaps": true
}